//Color
$color-main:#337197 !default;
$color-support:#658396 !default;
$color-header:#dbe4e7 !default;
$color-header-bottom:#cdd5d8 !default;
$color-selected: #dbe4e7 !default;
$color-scroll: #ccc;
$color-strong-selected: #b40000 !default;
$color-strong-selected-support: #fddddd !default;
$color-cancel:#343d42a2 !default;
$color-card:#658396 !default;

$color-light: #fff !default;
$color-light-support: #eaeaea !default;
$color-dark: #333 !default;

$color-temporary: #c2ac6c;
$color-temporary-support: #fde394;
$color-failure: #ff6565;
$color-failure-support: #ff9595;
$color-valid: #67b379;
$color-valid-support: #a0ccaa;
$color-invalid: #999;
$color-invalid-support: #ccc;
